.button {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(61, 123, 247);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.129);
  color: white;
  font-size: 20px;
  margin-top: 1rem;
  width: 8rem;
  height: 3rem;
  border: 0.2rem solid rgb(42, 42, 42);
  border-radius: 1rem;
  cursor: pointer;
  transition: .2s ease;
}

button:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

button i {
  color: white;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
               1px -1px 0 #000,
              -1px -1px 0 #000;
}

@media only screen and (max-width: 600px) {
  button {
    border: 0.15rem solid rgb(42, 42, 42);
    margin-top: 1rem;
    width: 5rem;
    height: 3rem;
  }

  button:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
}
