.button {
  display: flex;
  justify-content: center;
}

button {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  margin: 10px;
  padding: 15px 45px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.129);
  border-style: none;
  color: white;            
  border-radius: 10px;
  display: block;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: .2s ease;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  button {
    margin-top: 1rem;
    width: 5rem;
    height: 3rem;
  }

  button:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }

  button {
    padding: 0;
  }
}