.details-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.no-details{
  display: none;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  color: rgb(42, 42, 42);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  height: 5rem;
  width: 400px;
  animation: detail-fadein 1s;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.humid,.temp {
  height: 30px;
  width: 30px;
}

.sun {
  height: 40px;
  width: 40px;
}

.temp,.humid,.sun {
  animation: detail-icon-fadein 1s;
}

.tooltip {
  position:relative;
  text-align:center;
}

.tooltip .bottom {
  top:5rem;
  left:50%;
  transform:translate(-50%, 0);
  padding: 0rem 0.5rem;
  color:#FFFFFF;
  background-color:#222222;
  font-size:12px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  visibility:hidden; 
  opacity:0; 
  box-sizing:border-box;
  transition:opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility:visible; 
  opacity:1;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#222222;
}

@keyframes detail-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes detail-icon-fadein {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 600px) {
  .details-container {
    margin-top: 2rem;
  }

  .details {
    font-size: 0.84rem;
    height: 3rem;
    width: 19rem;
  }

  .info {
    margin: 0rem 0.8rem;
  }

  .temp {
    height: 20px;
    width: 20px;
  }

  .humid {
    height: 20px;
    width: 20px;
  }

  .sun {
    height: 25px;
    width: 25px;
  }

  .tooltip .bottom {
    top:3.5rem;
  }
}
