.header-container {
  display: flex;
  flex-direction: column;
  color: #001057;
  font-size: 3.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 345px;
}

.city,.temperature,.feelslike,.desc,.icon-container {
  display: flex;
  justify-content: center;
}

.city,.temperature,.feelslike,.desc {
  animation: fadein 1s;
}

.city,.feelslike {
  font-weight: 700;
}

.feelslike {
  font-size: 1.5rem;
}

.icon {
  margin: 10px 0;
  height: 75px;
  width: 75px;
  animation: iconfadein 1s;
}

.desc {
  font-size: 2.5rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes iconfadein {
  from {
    opacity: 0;
    transform: translate(0,-20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    font-size: 3rem;
  }

  .icon {
    width: 4rem;
    height: 4rem;
  }

  .desc {
    font-size: 2rem;
  }
}

@media only screen and (max-height: 600px) {
  .header-container {
    font-size: 2rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .desc {
    font-size: 1rem;
  }
}
