.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

input {
  color: rgb(42, 42, 42);
  border-radius: 1rem;
  border: 0.2rem solid rgb(42, 42, 42);
  outline: none;
  width: 21rem;
  height: 2rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.129);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  transition: .2s ease;
}

input:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {

  input {
    border: 0.15rem solid rgb(42, 42, 42);
    font-size: 0.8rem;
    padding: 1rem 2rem;
    width: 14rem;
    height: 1rem;
  }

  input:hover{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
}
